@use 'grid';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700&display=swap');
@import 'mixins';

body {
    background: #beecfa;
    margin: 0;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

// .main {
//     @media(max-width: 767px) {
//         display: none;
//     }
// }

// .no-desktop {
//     @media(min-width: 768px) {
//         display: none;
//     }
// }

body {

    &.is-menu-open {
        .header__menu-dropdown {
            opacity: 1;
            visibility: visible;
        }

    }

    &.is-menu-white,
    &.is-menu-open {

        .header__btn-toggle {
            background-color: #fff;
        }

        .header__logo {
            svg path {
                fill: #fff;
            }
        }
    }
}

.header {
    padding-top: 24px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;

    &__logo {
        width: 50px;

        svg path {
            transition: all .6s ease-in-out;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 300;
    }

    &__btn-toggle {
        -webkit-appearance: none;
        appearance: none;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #333;
        cursor: pointer;
        transition: all .3s ease-in-out;
        outline: none;

        &:hover {
            transform: scale(1.4);
        }

        >span {
            position: fixed;
            top: -99999px;
            left: -99999px;
            display: block;
        }
    }

    &__menu-dropdown {
        transition: 0.5s ease-in-out all;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(1, 24, 50, .9);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;

        nav {
            width: 100%;
        }

        ul {
            list-style-type: none;
            font-family: "Montserrat", sans-serif;
            letter-spacing: 8px;
            font-size: 60px;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        li {
            margin: 24px 0;
        }

        li a {
            text-transform: uppercase;
            color: #fff;
            text-decoration: none;
            display: block;
        }
    }
}

.home,
.work {

    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;

}

.home {
    top: 50px;
}

.home,
.work {
    &__wrapper {
        width: 100%;
    }

    .grid-container {
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
        ;
    }
}

.home__content,
.work__content {
    display: flex;
    align-items: center;
    height: 100%;
}

.home {

    &__heading {
        color: #333;
        font-size: 120px;
        line-height: 116px;
        font-family: "Montserrat", sans-serif;
        margin: 0;

        span {
            display: block;
        }

        span.light {
            font-weight: 300;
        }

        @media(max-width: 1023px) {
            font-size: 90px;
            line-height: 86px;
        }

        @media(max-width: 682px) {
            font-size: 75px;
            line-height: 76px;

        }
    }

    &__subline {
        font-family: "Source Code Pro", monospace;
        font-size: 23px;
        text-decoration: underline;
        margin-top: 28px;
        display: block;
        color: #333;
    }

    &__description {
        font-family: "Source Code Pro", monospace;
        font-size: 16px;
        color: #333;
        display: block;
        margin-top: 12px;
        line-height: 26px;

        .stuff {
            position: relative;
            padding: 0 24px;
            width: 150px;
            text-align: center;
            display: inline-block;

            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #333;
            }

            &:after {
                content: '\0020';
                padding: 0 2px;

            }
        }

        .bold {
            font-weight: bold;
        }
    }

    &__arrow {
        margin-top: 40px;
        text-align: center;
    }

    &__presentation-content {
        max-width: 1000px;
    }
}

.work {
    &__main-col {
        position: relative;
    }

    &__counter-container {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        color: #fff;
        text-align: center;
        z-index: 3;
        font-family: "Montserrat", sans-serif;
        font-size: 34px;
        opacity: 0;
        visibility: hidden;
        padding-left: 30px;
        transition: color .8s ease-in-out;

        &.dark {
            color: #333;
        }
    }

    &__numbers {
        display: flex;
        align-items: flex-end;
        justify-content: center;

    }

    &__pipe {
        padding: 0 4px;
    }

    &__total {
        font-size: 18px;
    }

    &__project-label {
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 12px;
        font-family: "Source Code Pro", monospace;
    }

    &__presentation {
        width: 100%;
    }

    &__slide {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background-color: #6653a6;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0 78px;

        &.dark {
            .work__information {
                color: #333;
            }
        }

        &.dark {
            .work__view-more {
                a {
                    border-color: #333;
                    color: #333;

                    &:hover {
                        background-color: #333;
                        color: #fff;
                    }
                }
            }
        }
    }

    &__picture {
        max-width: 656px;

        img {
            max-width: 100%;
            height: auto;
        }
    }



    &__information {
        flex: 1;
        font-family: "Montserrat", sans-serif;
        color: #fff;
    }

    &__type {
        display: block;
        font-size: 30px;
    }

    &__title {
        display: block;
        font-size: 60px;
        line-height: 60px;
        font-weight: 600;

        @media(max-width: 1023px) {
            font-size: 40px;
            line-height: 40px;
        }
    }

    &__description {
        font-family: "Source Code Pro", monospace;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
    }

    &__table {
        width: 100%;
        font-family: "Source Code Pro", monospace;
        font-size: 14px;

        &-row {
            display: flex;
            padding-top: 5px;
        }

        &-column,
        &-header {
            flex: 1;
        }

        &-column {
            line-height: 24px;
        }

        &-header {
            font-weight: 500;
            text-transform: uppercase;
        }
    }

    &__slider {
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translateX(-50%);
    }

    &__view-more {
        margin-top: 44px;

        a {
            border: 1px solid #fff;
            color: #fff;
            text-decoration: none;
            width: 236px;
            font-family: "Source Code Pro", monospace;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 72px;
            transition: all .4s ease-in-out;

            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
    }

}

// Work-detail

// General
.circular-link {

    margin-top: 44px;

    a {
        border: 1px solid #fff;
        color: #fff;
        text-decoration: none;
        width: 236px;
        font-family: "Source Code Pro", monospace;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 72px;
        transition: all .4s ease-in-out;

        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
}

.work-detail {
    &__banner {
        min-height: calc(100vh - 100px);
        display: flex;
        align-items: flex-end;
        position: relative;
        background-color: #fff;
        overflow: hidden;
    }

    &__banner-image {
        position: relative;
        z-index: 2;
        display: flex;

        img {
            max-width: 100%;
        }
    }

    &__banner-text {
        position: absolute;
        left: 50%;
        bottom: 256px;
        transform: translateX(-50%);
        font-family: "Montserrat", sans-serif;
        width: 100%;
        text-align: center;
        @include fluid-type(320px, 1920px, 100px, 230px);
        font-weight: 600;
        color: #a5a4b2;
        text-transform: uppercase;
        white-space: nowrap;
    }

    &__description {
        padding: 95px 0;
        background-color: #6653a6;

        color: #e5e5e6;
        font-family: "Source Code Pro", monospace;
    }

    &__description-title {
        font-size: 28px;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
    }

    &__description-text {
        line-height: 28px;
    }

    &__screen {
        background-color: #fff;
    }

    &__screen-image {
        margin: -85px 0;
        margin-bottom: -120px;
        display: flex;

        &.frontback {
            margin-bottom: -265px;
            margin-top: -42px;
        }

        &.border {
            border-top-width: 70px;
            border-bottom-width: 70px;
            border-left-width: 50px;
            border-right-width: 55px;
            border-style: solid;
            margin-top: -66px;
            margin-bottom: -66px;
        }

        &.no-overlap {
            margin-top: 0;
            margin-bottom: 0;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__palette {
        background-color: #f2f2f2;
        padding-top: 168px;
        padding-bottom: 191px;
    }

    &__palette-title {
        font-family: "Montserrat", sans-serif;
        color: #6653a6;
        font-size: 28px;
        font-weight: 600;
    }

    &__palette-list {
        list-style-type: none;
        display: flex;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;

        li {
            margin-right: 24px;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-top: 6px;

            &.purple {
                background-color: #6652a6;
            }

            &.purple-2 {
                background-color: #9013fe;
            }

            &.purple-3 {
                background-color: #e075f5;
            }

            &.purple-4 {
                background-color: #9108ec;
            }

            &.grey {
                background-color: #dbe0e6;
            }

            &.black {
                background-color: #24242c;
            }

            &.black-2 {
                background-color: #081420;
            }

            &.blue {
                background-color: #15c9e0;
            }

            &.blue-2 {
                background-color: #15C9E0;
            }

            &.green {
                background-color: #7ed321;
            }

            &.green-2 {
                background-color: #50e3c2;
            }

            &.green-3 {
                background-color: #0ad10a;
            }

            &.red {
                background-color: #f35d64;
            }

            &.pink {
                background-color: #ff4d86;
            }



        }
    }

    &__palette-description {
        margin: 0;
        margin-top: 20px;
        font-family: "Source Code Pro", monospace;
        color: #24242c;
        font-size: 16px;
        line-height: 32px;
    }

    &__frame {
        background-color: #fff;

        &.tablet {
            .work-detail__special-info {
                padding-top: 0;
            }
        }
    }

    &__frame-image {
        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__square {
        padding-top: 58px;
        padding-bottom: 60px;
        background-color: #dbe0e6;
        margin-top: -90px;

        &.no-overlap {
            margin-top: 0;
            ;
        }
    }

    &__square-extra {
        margin-top: -40px;
    }

    &__special-info {
        padding: 100px 0;
        color: #333333;
    }

    &__special-title {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 28px;
    }

    &__special-description {
        font-family: "Source Code Pro", monospace;
        font-size: 16px;
        line-height: 32px;
        margin: 0;
        margin-top: 9px;
    }

    &__tools {
        font-family: "Source Code Pro", monospace;
        font-size: 14px;
        line-height: 24px;

        &-text {
            margin: 0;
        }
    }




    &__third-image {
        margin-top: -100px;
    }

    &__next-project {
        position: relative;
        height: 274px;
        background-color: #fff;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #333;
            opacity: .8;
            z-index: 1;
        }

        .grid-container {
            position: relative;
            z-index: 2;
        }
    }

    &__next-project-image {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        width: auto;
        transform: translate(-50%, -50%);
    }

    &__next-project-info {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #beecfa;
        text-align: center;
    }

    &__next-project-link {
        font-family: "Source Code Pro", monospace;
        font-size: 18px;
        color: inherit;
        text-decoration: none;

        svg {
            path {
                fill: currentColor;
            }
        }

        &:hover {
            color: #fff;
        }
    }

    &__next-project-title {
        font-family: "Montserrat", sans-serif;
        font-size: 48px;
        text-transform: uppercase;
        font-weight: 600;
    }


}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.light-blue-bg {
    background-color: #beecfa;
}

.light-blue-border {
    border-color: #beecfa;
}



.purple-border {
    border-color: #d4c1e1;
}

.dark-blue-bg {
    background-color: #0a1c2e;
}

.dark-blue-2-bg {
    background-color: #14283a;
}

.white-bg {
    background-color: #fff;
}

.red-bg {
    background-color: #f0494c;
}

.light-black-bg {
    background-color: #474747;
}

.gray-bg {
    background-color: #f2f2f2;
}

.white-font-color {
    color: #fff;
}

.red-font-color {
    color: #f0494c;
}

.light-blue-font-color {
    color: #15C9E0;
}

.purple-font-color {
    color: #9108ec;
}

.creme-font-color {
    color: #eda68d;
}