@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Source+Code+Pro:wght@300;400&display=swap');
$mobile: 750px;
body {
  background: #beecfa;
  margin: 0;
}
* {
  box-sizing: border-box;
}
.header {
  position: fixed;
  top: 0;
  right: 0;
  padding: 32px;

  &__icon-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__icon-list-item {
    img {
      width: 42px;
      height: 42px;
    }
  }
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 800px;
  width: 100%;
  padding: 0 24px;

  &__logo-image {
    width: 103px;
  }

  &__title {
    margin: 0;
    color: #333333;
    font: normal normal 600 80px/116px Montserrat;
    line-height: 1;

    @media (max-width: $mobile) {
      font-size: 50px;
    }
  }
  &__description {
    font: normal normal normal 23px/32px Source Code Pro;
    font-weight: lighter;
    margin: 0;
    line-height: 1.5;
    @media (max-width: $mobile) {
      font-size: 17px;
      margin-top: 12px;
    }
  }

  &__contact-form-wrapper {
    display: flex;
    margin-top: 28px;

    @media (max-width: $mobile) {
      display: block;
    }
  }

  &__input {
    color: #333333;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    font: normal normal normal 23px/28px Source Code Pro;
    border-bottom: 1px solid #333333;
    padding-bottom: 12px;
    flex: 1;
    outline: none;
    @media (max-width: $mobile) {
      display: block;
      flex: 0 1 auto;
      width: 100%;
    }
  }
  &__button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    padding: 0;
    margin: 0;
    background-color: #333333;
    width: 236px;
    height: 72px;
    color: #fff;
    cursor: pointer;
    font: normal normal 600 16px/24px Source Code Pro;
    @media (max-width: $mobile) {
      display: block;
      margin-top: 12px;
      width: 100%;
    }
  }
}
